# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg

# Virtual environments
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store
